.logo {
    width: 40px;
}
h5 {
    margin-right: 50px;
}
#title {
    margin-top: 30px;
}
body {
    background-color: #F0F0F0;
}
#subtitle {
    margin-top: 30px;
}
html {
    background-color: #F0F0F0;
}

h1 {
    font-size: 50px;
    font-family: Anton, sans-serif;
}

h2 {
    font-size: 30px;
    font-family: Anton, sans-serif;
}

.red-circle {
    border-radius: 100px;
    background: #E6563B;
    color: white;
    width: 95px;
    height: 95px;
    border-style: solid;
    border-color: white;
    border-width: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Anton, sans-serif;
}

.orange-circle {
    border-radius: 100px;
    background-color: #EB9D3A;
    color: white;
    width: 95px;
    height: 95px;
    border-style: solid;
    border-color: white;
    border-width: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Anton, sans-serif;
}

.green-circle {
    border-radius: 100px;
    background-color: #7CB06C;
    color: white;
    width: 95px;
    height: 95px;
    border-style: solid;
    border-color: white;
    border-width: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Anton, sans-serif;
}

.aqua-circle {
    border-radius: 100px;
    background-color: #00ABA9;
    color: white;
    width: 95px;
    height: 95px;
    border-style: solid;
    border-color: white;
    border-width: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Anton, sans-serif;
}

.row {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}
.letter-d-red  {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    background-color: #E6563B;
}
.letter-d-orange  {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    background-color: #EB9D3A;
}
.letter-s  {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    background-color: #7CB06C;
}
.letter-h  {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    background-color: #00ABA9;
}
.small-icon-circle {
    display: flex;
    justify-content: flex-end;
}
#featured-project {
    display: flex;
    justify-content: left;

}
#selected-work {
    padding: 3em 0;
}
.apple-ipad {
    display: flex;
    justify-content: center;
}